In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r'C:\Users\jayavaradhan.olivu\OneDrive - DISYS\Documents\Data Science\Data Science - Python\Python Practice\Data source\birthweight.csv')
df.head()

   LOW  AGE  LWT  RACE  SMOKE  PTL  HT  UI   BWT
0    1   28  113     1      1    1   0   1   709
1    1   29  130     0      0    0   0   1  1021
2    1   34  187     1      1    0   1   0  1135
3    1   25  105     1      0    1   1   0  1330
4    1   25   85     1      0    0   0   1  1474

In [4]:
df_1 = df[['AGE', 'BWT']]
df_1.cov()

            AGE            BWT
AGE   28.075988     347.140831
BWT  347.140831  531473.684285

In [5]:
df_1.corr().round(2)

      AGE   BWT
AGE  1.00  0.09
BWT  0.09  1.00

    covariance indicates that there is a correlation between these two 
    correlation coefficient of 0.089866 indicates that the relationship is positive and strong